@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sejam todos bem-vindos</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>https://github.com/Shikinha/egames/blob/master/EJOGOS/Views/Home/Index.cshtml
</div>
